{% extends 'shop/partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
{% include 'shop/partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Order By</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody class="bg-white text-black">
                
                {% for order in order %}
                {% for item in order.items.all %}
                {% if item.item.company == company %}
                <tr  class="">
                    <td colspan="4"><a href="{{ order.get_absolute_url }}">{{ order.user.username }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ item.item.title }}</td>
                    <td>
                        {% if item.item.discount_price%}
                        {{ item.item.discount_price }}
                        {%else %}
                        {{item.item.price}}
                        {% endif %}
                    </td>
                    <td>{{ item.quantity }}</td>
                </tr>
                {% endif %}
                    {% endfor %}
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}