<div class="card-body mt-3 text-center">
    <label name="name">{{company.name}}</label>
    <div class="form-floating  mb-3 col-10 mt-4">
        {{form.title.errors}}
        <input type="text" class="form-control" id="floatingInput" placeholder="text" name="title">
        <label for="floatingInput" class="ms-2">Name</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.quantity.errors}}
        <input type="number" class="form-control" id="floatingInput" placeholder="text" name="quantity">
        <label for="floatingInput" class="ms-2">Quantity</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.brand_Name.errors}}
        <input type="text" class="form-control" id="floatingInput" placeholder="text" name="brand_Name">
        <label for="floatingInput" class="ms-2">Brand Name</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.price.errors}}
        <input type="number" class="form-control" id="floatingInput" placeholder="text" name="price">
        <label for="floatingInput" class="ms-2">Price</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.discount_price.errors}}
        <input type="number" class="form-control" id="floatingInput" placeholder="text" name="price">
        <label for="floatingInput" class="ms-2">Discounted Price</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.category.errors}}
        {{form.category}}
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.subcategory.errors}}
        {{form.subcategory}}
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.label.errors}}
        {{form.label}}
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.slug.errors}}
        <input type="text" class="form-control" id="floatingInput" placeholder="text" name="slug">
        <label for="floatingInput" class="ms-2">Slug</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.description_short.errors}}
        <input type="text" class="form-control" id="floatingInput" placeholder="text" name="description_short">
        <label for="floatingInput" class="ms-2">Short Description</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.description_long.errors}}
        <textarea class="form-control" id="floatingInput" placeholder="text" name="description_long"></textarea>
        <label for="floatingInput" class="ms-2">Lone Description</label>
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.image.errors}}
        {{form.image.label}}
        {{form.image}}
    </div>
    <div class="form-floating mb-3 col-10">
        {{form.is_active.errors}}
        {{form.is_active.label}}<br>
        {{form.is_active}}
    </div>
    <div class="d-grid gap-2 col-10 mx-auto mt-5">
        <input type="submit" class="btn btn-outline-danger w-75" value="Add">
        <h6 class="text-center">-------------------- or ---------------------</h6>
        <i class="fa-brands fa-google text-center" style="color: #000000;"><i class="fa-brands fa-facebook ms-3"
                style="color: #000000;"></i></i>

    </div>
    {{form.errors}}

</div>