{% extends "base.html" %}
{% load static%}
{% load slide_template_tags %}
{% block head_title %}Home{% endblock %}
{% block extra_head %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'font/font-awesome-4.7.0/css/font-awesome.min.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'font/themify/themify-icons.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'font/Linearicons-Free-v1.0.0/icon-font.min.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'font/elegant-font/html-css/style.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/animate/animate.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/animsition/css/animsition.min.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/select2/select2.min.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/slick/slick.css' %}"
/>
<!--===============================================================================================-->
<link
rel="stylesheet"
type="text/css"
href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}"
/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
<!--===============================================================================================-->
<style>
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;}
@media screen and (max-width: 575px) 
{
  .card-img-top {
    width: 100%;
    height: 65vw;
    object-fit: cover;}
}
</style>
{% endblock %}
{% block content %}
<!-- Slide1 -->
<section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      {% slides %}
    </div>
  </div>
</section>
<div class="container mt-5">
  {% comment %} latest products {% endcomment %}
  <h1>Latest</h1>
  <div class="row">
    <div class="class">
      <div class="card-group">
        {% for item in object_list %}
        {% if item.date_published.date <= time.date and item.date_published.date >= time_pass.date %}
        <div class="card p-2 border-white ">
          <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" class="card-img-top imagecrd rounded"
              alt="{{ item.image.name }}" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="{{ item.get_absolute_url }}" class="text-decoration-none text-capitalize text-black fs-20">{{item.title}}
                <span class="badge badge-pill {{ item.get_label_display }}-color">New</span>
              </a>
              <a href="" class="grey-text fs-15">
                <h5>{{ item.category}}</h5>
              </a>
            </h5>
            <h4 class="font-weight-bold text-info text-center">
              <strong>Rs. {% if item.discount_price %} {{ item.discount_price }}
                {% else %} {{ item.price }} {% endif %}
              </strong>
            </h4>
            <p class="card-text text-center">
              {{item.short_description}}
            </p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  {% comment %} Electronic items {% endcomment %}
  <h1>Electronic</h1>
  <div class="row">
    <div class="class">
      <div class="card-group">
        {% for item in object_list %}
        {% if item.category.slug == "electornic_items" %}
        {% if forloop.counter <= 4 %}
        <div class="card text-bg-success border-success text-white p-2 ">
          <a href="{{ item.get_absolute_url }}"><img src="{{item.image.url}}" class="card-img-top imagecrd rounded"
              alt="{{item.title}}" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="{{ item.get_absolute_url }}" class="text-decoration-none text-capitalize text-white fs-20">{{item.title}}
                <span class="badge badge-pill {{ item.get_label_display }}-color">New</span>
              </a>
              <a href="" class="white-text fs-15">
                <h5>{{ item.category}}</h5>
              </a>
            </h5>
            <h4 class="font-weight-bold text-center">
              <strong>Rs. {% if item.discount_price %} {{ item.discount_price }}
                {% else %} {{ item.price }} {% endif %}
              </strong>
            </h4>
            <p class="card-text text-center">
              {{item.short_description}}
            </p>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end men outflit -->
<div class="container mt-5">
  {% comment %} Men wearables {% endcomment %}
  <h1>Men Wearables</h1>
  <div class="row">
    <div class="class">
      <div class="card-group">
        {% for item in object_list %}
        {% if item.category.slug == "men_wearable" %}
        <div class="card text-bg-dark p-2 ">
          <a href="{{ item.get_absolute_url }}"><img src="{{item.image.url}}" class="card-img-top imagecrd rounded"
              alt="{{item.title}}" /></a>
          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="{{ item.get_absolute_url }}" class="text-decoration-none text-capitalize text-white fs-20">{{item.title}}
                <span class="badge badge-pill {{ item.get_label_display }}-color">New</span>
              </a>
              <a href="" class="white-text fs-15">
                <h5>{{ item.category}}</h5>
              </a>
            </h5>
            <h4 class="font-weight-bold text-center">
              <strong>Rs. {% if item.discount_price %} {{ item.discount_price }}
                {% else %} {{ item.price }} {% endif %}
              </strong>
            </h4>
            <p class="card-text text-center">
              {{item.short_description}}
            </p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock content %}
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
            $(document).ready(function ($) {
                $('.card').slick({
                    dots: true,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    autoplay: false,
                    autoplaySpeed: 2000,
                    arrows: true,
                    responsive: [{
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 400,
                        settings: {
                            arrows: false,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }]
                });
            });
        </script>
{% endblock extra_scripts %}